.rose {
  background-color: var(--rose);
  color: var(--black);
}
.gris {
  background-color: var(--bg-gris);
  color: var(--black);
}

.btnCustom button {
  cursor: pointer;
  padding: 10px 8px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
.btnCustom button:hover {
  cursor: pointer;
}
