.containerPageSpectacles {
  width: 100%;
  padding: 40px;
  background-color: var(--bg-violet-fonce);
}

.headerSpectacles {
  display: flex;
  justify-content: space-between;
}
.headerSpectacles .inputHeaderSpectacles .inputSpectacles {
  border: 1px solid white;
  background: transparent;
  color: black;
  outline: none;
  padding-left: 35px;
  border-radius: 20px;
  background-color: white;
}
.inputHeaderSpectacles {
  position: relative;
}
.loupe {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
}
.containerSpectacles {
  margin-top: 100px;
}
