.containerFiles {
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  margin-bottom: 20px;
}
label {
  display: flex;
  align-items: center;
}
.containerInput label {
  color: #000;
  font-size: 15px;
}
.title {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  color: #fff;
  background: var(--bg-violet-clair);
}
.title p {
  font-size: 20px;
}
.containerInput {
  display: flex;
  align-items: center;

  justify-content: space-between;
  height: 100px;
  padding: 0px 20px 0px 20px;
}

.button-wrapper {
  margin: auto 0;
  position: relative;
  width: 140px;
  text-align: center;
}

.button-wrapper span.label {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  background: var(--bg-gris);
  cursor: pointer;
  color: #000;
  font-weight: bold;
  padding: 10px 0;
  font-size: 15px;
  border-radius: 10px;
}

#upload {
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.previous {
  height: 100%;
  padding: 0px 20px 20px 20px;
}
.previousMusic {
  color: black;
  padding: 10px 0;
}
.dashed {
  border-bottom: grey solid 1px;
}
