@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-violet-fonce: #424864;
  --bg-violet-clair: #606992;
  --rose: #ec7ca6;
  --bg-gris: #bdbdbd;
  --bg-toggle: #ebecf1;
  --black: #232323;
  --blue: #008bdc;
  --blackClair: #4d4d4d;
  --violet: #862ce0;
  --gris: #929292;
}

.App {
  display: flex;
  font-family: "Roboto", sans-serif;
}
